div#Nresult{
    position: relative; left: 100px;
}
div#Sresult{
    position: relative; left: 100px;
}
span[name="ESuit"]{
    position: absolute; left: 200px;
}
[name="Etitle"]{
    position: absolute; left: 200px;
}